# Database (Supabase PostgreSQL)
DATABASE_URL=
DIRECT_URL=

# Authentication Session Secret
AUTH_SECRET=


# Brevo Transactional Email Service
BREVO_API_KEY=
EMAIL_FROM=no-reply@ivora.trade
EMAIL_FROM_NAME=Ivora
